.aboutUsPage {
    background-color: #D5E3F1;

}

.about_img {
    height: 50%;
    width: 50%;
    overflow: hidden;
    border-radius: 50%;
}


/* .col-lg-6 {
    background-color: #D5E3F1;
    gap:20px;
} */