.homepage {
  background-color: #D5E3F1;
  background-size: cover;
  font-family: 'Libre Franklin', sans-serif;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  /* Center the content horizontally */
 }
 
 
 .topContainer {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1.2em 1.2em 1em 1em;
  width: 100%;
 }
 
 
 .logoImg {
  width: 120px;
  height: auto;
  margin-left: 10px;
  margin-right: auto;
 }
 
 
 
 
 .menu-button {
  font-weight: 700;
  background: none;
  border: none;
  text-align: right;
  font-size: 1em;
  text-decoration: none;
  margin: 20px;
 }
 
 
 .login-button,
 .signup-button {
  font-weight: 700;
  background-color: transparent;
  border: 1px solid #0033a1;
  color: #0033a1;
  padding: 0.3em 1em;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px;
 }
 
 
 .signup-button{
  margin-right: 20px;
 }
 .login-button:hover,
 .signup-button:hover {
  color: white;
  background-color: #0033a1;
 }
 
 
 .contentContainer {
  display: flex;
  align-items: center;
  /* Center the content horizontally */
  justify-content: center;
  /* Center the content vertically */
  width: 100%;
  /* Take the full width of the parent */
  height: 100%;
  background-color: rgb(0, 51, 161);
 
 
 }
 
 
 .mainContainer {
  padding: 2em 4%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* Center text content */
 }
 
 
 .logoContainer {
  padding-top: 120px;
  text-align: center;
  /* Center text content */
 }
 
 
 .logoContainer .title {
  text-align: left;
  font-size: 6em;
  color: lightgray;
  font-weight: 700;
 }
 
 
 .secondTitle {
  font-size: 3em;
  font-weight: 700;
 }
 
 
 .text-wrapper-1,
 .text-wrapper-2,
 .text-wrapper-3,
 .text-wrapper-4,
 .text-wrapper-5,
 .text-wrapper-6 {
  font-size: 2em;
 }
 
 
 .tagline {
  color: orange;
 }
 
 
 .imageContainer {
  height: 100;
  overflow: hidden;
  padding: 2em;
  text-align: center;
  /* Center content horizontally */
  /* margin-top: 5%; */
 }
 
 
 .imageContainer img {
  width: 100%;
  /* Ensure the image doesn't exceed its container */
  height: 100%;
  /* Ensure the image doesn't exceed its container */
  object-fit: fill;
  /* Maintain the image's aspect ratio */
 }
 
 
 @media (max-width: 768px) {
 
 
  .topContainer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1em;
  }
 
 
  .menu-button {
    margin: 10px;
  }
 
 
  .login-button,
  .signup-button {
    margin: 5px;
  }
 
 
  .signup-button {
    margin-right: 0;
  }
 
 
  .contentContainer {
    flex-direction: column;
  }
 
 
  .mainContainer {
    padding: 2em 2%;
  }
 
 
  .logoContainer {
    padding-top: 60px;
  }
 
 
  .logoContainer .title {
    text-align: center;
    font-size: 4em;
  }
 
 
  .secondTitle {
    font-size: 2em;
  }
 
 
  .text-wrapper-1,
  .text-wrapper-2,
  .text-wrapper-3,
  .text-wrapper-4,
  .text-wrapper-5,
  .text-wrapper-6 {
    font-size: 1.5em;
  }
 
 
  .tagline {
    font-size: 1em;
  }
 
 
  .imageContainer {
    padding: 1em;
    background-color: rgb(0, 51, 161);
    height: 50%;
    width: 100vw;
  }
 }
 



/* .homepage {
  background-color: #D5E3F1;
  background-size: cover;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center; 
}

.topContainer {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1.2em 1.2em 1em 1em;
  width: 100%;
}

.menu-button {
  font-weight: 700;
  background: none;
  border: none;
  color: white;
  text-align: right;
  margin-right: em;
  font-size: 1em;
  text-decoration: none; 
}


.login-button, .signup-button {
  font-weight: 700;
  background-color: transparent;
  border: 2px solid #0033a1;
  color: #0033a1;
  padding: 0.5em 1em;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.login-button:hover,
.signup-button:hover {
  color: white;
  background-color: #0033a1;
}

.contentContainer {
  display: flex;
  align-items: center; 
  justify-content: center; 
  width: 100%; 
  height: 100%;
  background-color: rgb(0, 51, 161);

}

.mainContainer {
  padding: 2em 4%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center; 
}

.logoContainer {
  padding-top: 120px;
  text-align: center; 
}

.logoContainer .title {
  text-align: left;
  font-size: 6em;
  color: lightgray;
  font-weight: 700;
}

.secondTitle {
  font-size: 3em;
  font-weight: 700;
}

.text-wrapper-1,
.text-wrapper-2,
.text-wrapper-3,
.text-wrapper-4,
.text-wrapper-5,
.text-wrapper-6 {
  font-size: 2em;
}

.tagline {
  color: orange;
}

.imageContainer {
  height: 100;
  overflow: hidden;
  padding: 2em;
  text-align: center; 
}

.imageContainer img {
  width: 100%; 
  height: 100%; 
  object-fit: fill;
} */
