.loginContainer {
    display: flex;
    height: 100vh; 
    font-family: Arial, sans-serif;
    
}

.leftSide, .rightSide {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.leftSide {
    background-color: #0033a1; 
    color: white;
    align-items: center;
}

.noAccount p {
    color: white;

}
.noAccount .signup:hover {
    cursor: pointer; 
}
.rightSide {
    background-color: #f3f3f3;
}

.firstTitle {
    font-size: 2.5em; /* Adjust the font size as needed */
}

.secondTitle {
    font-size: 1.5em; /* Adjust the font size as needed */
}

.rightSide h1 {
    font-weight: 700;
    font-size: 5em;
    padding-bottom: 80px;
}


/* Media Query for Responsiveness */
@media (max-width: 768px) {
    .loginContainer {
        flex-direction: column; /* Stack the elements vertically on smaller screens */
    }

    .leftSide, .rightSide {
        width: 100%; /* Make both sides take up the full width on smaller screens */
    }

    .firstTitle {
        font-size: 2em; /* Adjust the font size for smaller screens */
    }

    .secondTitle {
        font-size: 1em; /* Adjust the font size for smaller screens */
    }

    form {
        width: 100%; /* Make the form take up the full width on smaller screens */
    }
}
