.loginContainer {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
   
 }
 
 
 .leftSide, .rightSide {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }
 
 
 .leftSide {
    background-color: #0033a1;
    color: white;
    align-items: center;
 }
 
 
 .noAccount p {
    color: #D5E3F1;
    margin-top: 50px;
 }
 
 
 .noAccount p:last-child {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
 }
 
 
 .noAccount p:last-child:hover{
    color: orange;
    cursor: pointer;
 }
 
 
 
 
 .rightSide {
    background-color: #f3f3f3;
 }
 
 
 .firstTitle {
    font-size: 2.5em; /* Adjust the font size as needed */
 }
 
 
 .secondTitle {
    font-size: 1.5em; /* Adjust the font size as needed */
 }
 
 
 .rightSide h1 {
    font-weight: 700;
    font-size: 5em;
    padding-bottom: 80px;
 }
 
 
 
 
 /* Media Query for Responsiveness */
 @media (max-width: 768px) {
    .loginContainer {
        flex-direction: column; /* Stack the elements vertically on smaller screens */
    }
 
 
    .leftSide, .rightSide {
        width: 100%; /* Make both sides take up the full width on smaller screens */
    }
 
 
    .firstTitle {
        font-size: 2em; /* Adjust the font size for smaller screens */
    }
 
 
    .secondTitle {
        font-size: 1em; /* Adjust the font size for smaller screens */
    }
 
 
    form {
        width: 100%; /* Make the form take up the full width on smaller screens */
    }
 }
 





/* .loginContainer {
    display: flex;
    height: 100vh; 
    font-family: Arial, sans-serif;
}

.leftSide, .rightSide {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.leftSide {
    background-color: #234DB9; 
    color: white;
}

.rightSide {
    background-color: #f3f3f3;
}

.firstTitle {
    font-size: 2.5em; 
}

.secondTitle {
    font-size: 1.5em; 
}

.rightSide h1 {
    font-weight: 700;
    font-size: 5em;
    padding-bottom: 80px;
}

@media (max-width: 768px) {
    .loginContainer {
        flex-direction: column; 
    }

    .leftSide, .rightSide {
        width: 100%; 
    }

    .firstTitle {
        font-size: 2em;
    }

    .secondTitle {
        font-size: 1em; 
    }

    form {
        width: 100%;
    }
} */