.signupContainer {
   display: flex;
   min-height: 100vh;
   font-family: Arial, sans-serif;
   overflow: hidden;
}

.leftSide, .rightSide {
   flex: 1;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.leftSide {
   background-color: #0033a1;
   color: white;
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
}

.yesAccount p {
   color: #D5E3F1;
   margin-top: 50px;
}

.yesAccount p:last-child {
   text-align: center;
   font-weight: bold;
   cursor: pointer;
   text-decoration: underline;
}

.yesAccount p:last-child:hover {
   color: orange;
   cursor: pointer;
}

.rightSide {
   background-color: #f3f3f3;
}

.rightSide h1 {
   font-weight: 700;
   font-size: 2em;
   padding-bottom: 80px;
}

.title h1 {
   margin: 0;
   font-size: 2em;
   line-height: 1.2;
   color: white;
}

.leftSide .imageContainer {
   width: 100%;
   max-width: 400px;
   box-sizing: border-box;
}

.leftSide img {
   width: 100%;
   height: auto;
}

form {
   width: 70%;
   max-width: 400px;
   text-align: left;
   margin-bottom: 30px;
}

form label {
   display: block;
   margin-bottom: 5px;
   color: #333;
}

form input[type="email"],
form input[type="password"],
form select {
   width: 100%;
   padding: 10px;
   margin-bottom: 20px;
   border: 1px solid #ddd;
   border-radius: 5px;
   box-sizing: border-box;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select {
   width: 100%;
   padding: 10px;
   margin-bottom: 20px;
   border: 1px solid #ddd;
   border-radius: 5px;
   box-sizing: border-box;
}

form button {
   width: 90%;
   padding: 10px;
   background-color: #004B8D;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 1em;
}

form button:hover {
   background-color: #003366;
}

/* Media Query for Responsiveness */
@media (max-width: 768px) {
   .signupContainer {
       flex-direction: column;
   }

   .leftSide, .rightSide {
       width: 100%;
   }

   .title h1 {
       font-size: 1.5em;
   }

   .rightSide h1 {
       font-size: 1.5em;
       padding-top: 50px;
       padding-bottom: 50px;
   }

   form {
       width: 100%;
   }
}



