.homepage {
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .top-bar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: #0055B7; 
  }
  
  .menu-button {
    background: none;
    border: none;
    color: white;
    padding: 0.5em 1em;
    margin-right: 1em;
    font-size: 1em;
  }
  
  .main-content {
    text-align: center;
    padding: 2em;
  }
  
  .title {
    font-size: 4em;
    color: #0055B7; 
  }
  
  .title-accent {
    color: red; 
  }
  
  .tagline {
    font-size: 2em;
    margin-bottom: 2em;
  }
  
  
  .image-container {
    /* Placeholder for image styling */
  }
  

  .image-container img {
    max-width: 100%;
    height: auto;
  }