body, html {
    margin: 0;
}

.loginContainer {
    display: flex;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.leftSide, .rightSide {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.leftSide {
    background-color: #0033a1;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.noAccount p {
    color: #D5E3F1;
    margin-top: 50px;
}

.noAccount p:last-child {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.noAccount p:last-child:hover {
    color: orange;
    cursor: pointer;
}

.rightSide {
    background-color: #f3f3f3;
}

.firstTitle {
    font-size: 2.5em;

}

.secondTitle {
    font-size: 1.5em;
  
}

.rightSide h1 {
    font-weight: 700;
    font-size: 5em;
    padding-bottom: 80px;
}

.leftSide img {
    width: 100%; 
    max-width: 400px; 
}


@media (max-width: 768px) {
    .loginContainer {
        flex-direction: column;

    }

    .leftSide, .rightSide {
        width: 100%;

    }

    .firstTitle {
        font-size: 2em;
  
    }

    .secondTitle {
        font-size: 1em;
    
    }

    form {
        width: 100%;
      
    }
}